/* add your CSS here */
#whole{
     width: 400px;
     border-style: groove;
     padding: 1em;
}

.image{
	width: 300px;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.nodot{
	list-style: none;
}

.bord{
	border-style: groove;
}

.pad{
	padding: 1em;
}

.margin{
	margin: 1em;
}
